<div class="p-4 mx-auto mt-4 border rounded" style="width: 500px">
  <h3 class="mt-2 text-center">Reset password</h3>
  <form action="" method="post" class="row">
    <div class="mt-4 col-12">
      <label>Mật khẩu mới<span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-lock-fill"></i>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          name="password"
        />
      </div>
      <span class="text-danger"
        ><%- validate.getError(errors,"password") %></span
      >
    </div>
    <div class="mt-4 col-12">
      <label>Nhập lại mật khẩu <span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-lock-fill"></i>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          name="rePassword"
        />
      </div>
      <%- exactly?.length ? `
      <div class="text-danger">${exactly[0]}</div>
      `: '' %>
      <span class="text-danger"
        ><%- validate.getError(errors,"rePassword") %></span
      >
    </div>
    <div class="mt-4 col-12">
      <button type="submit" class="px-4 btn btn-primary float-end">
        Submit
      </button>
    </div>
  </form>
</div>
