<a href="/auth/login">Go back</a>
<div class="row mx-auto border rounded p-4 mt-4" style="width: 500px">
  <h4>Tìm tài khoản của bạn</h4>
  <hr />
  <%- ok?.length ? `
  <div class="alert alert-success" role="alert">${ok[0]}</div>
  `: '' %> <%- notify?.length ? `
  <div class="alert alert-danger" role="alert">${notify[0]}</div>
  `: '' %>
  <form action="" method="post" class="row">
    <div class="col-12">
      <label
        >Vui lòng nhập email để tìm kiếm tài khoản của bạn<span
          class="text-danger"
          >*</span
        ></label
      >
      <div class="input-group mt-1">
        <div class="input-group-text">
          <i class="bi bi-person-fill"></i>
        </div>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          name="email"
        />
      </div>
      <%- err?.length ? `
      <div class="text-danger">${err[0]}</div>
      `: '' %>
    </div>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary px-4 float-end">
        Submit
      </button>
    </div>
  </form>
</div>
