<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h1 class="mb-3 text-center mt-4">Login</h1>
        <%- error?.length ? `
        <div class="alert alert-danger" role="alert">${error}</div>
        `: '' %> <%- ok?.length ? `
        <div class="alert alert-success" role="alert">${ok[0]}</div>
        `: '' %>
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-md-7 pe-0">
              <div class="form-left h-100 py-5 px-5">
                <form action="" method="post" class="row g-4">
                  <div class="col-12">
                    <label>Email<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-person-fill"></i>
                      </div>
                      <input
                        type="email"
                        class="form-control"
                        placeholder="Enter Email"
                        name="email"
                      />
                    </div>
                  </div>

                  <div class="col-12">
                    <label>Password<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Enter Password"
                      />
                    </div>
                  </div>
                  <div class="text-end">
                    <a href="/auth/forgot-password" class="text-decoration-none"
                      >Forgot password?</a
                    >
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary px-4 float-end"
                    >
                      login
                    </button>
                  </div>
                </form>
                <div class="text-center mt-4">
                  <a href="/auth/google" class="text-decoration-none"
                    >Login with google <i class="bi bi-google"></i
                  ></a>
                </div>
                <div class="text-center mt-4">
                  <p>
                    Do not have an account?
                    <a href="/auth/register">Register</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 ps-0 d-none d-md-block">
              <div
                class="form-right h-100 bg-primary text-white text-center pt-5"
              >
                <i class="bi bi-bootstrap"></i>
                <h2 class="fs-1">Welcome Back!!!</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
