<div class="mx-auto border rounded p-4 mt-4" style="width: 500px">
  <h3 class="text-center mt-2">Reset password</h3>
  <%- notify?.length ? `
  <div class="alert alert-danger" role="alert">${notify[0]}</div>
  `: '' %>
  <form action="" method="post" class="row">
    <div class="col-12 mt-4">
      <label>Mật khẩu mới<span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-lock-fill"></i>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          name="password"
        />
      </div>
      <span class="text-danger"
        ><%- validate.getError(errors,"password") %></span
      >
    </div>
    <div class="col-12 mt-4">
      <label>Nhập lại mật khẩu <span class="text-danger">*</span></label>
      <div class="input-group">
        <div class="input-group-text">
          <i class="bi bi-lock-fill"></i>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Enter password"
          name="rePassword"
        />
      </div>
      <%- exactly?.length ? `
      <div class="text-danger">${exactly[0]}</div>
      `: '' %>
      <span class="text-danger"
        ><%- validate.getError(errors,"rePassword") %></span
      >
    </div>
    <div class="col-12 mt-4">
      <button type="submit" class="btn btn-primary px-4 float-end">
        Submit
      </button>
    </div>
  </form>
</div>
